@media screen and (max-width: 1000px) {
    #banner .banner_heading {
        bottom: 10%;
        right: 10%;
        transform: translateY(0);
    }
    #banner::after {
        background: linear-gradient(
            360deg,
            rgba(0, 0, 0, 0.77) -15.47%,
            rgba(0, 0, 0, 0.47) 32.85%,
            rgba(0, 0, 0, 0) 60.9%
        );
    }

    #introduction {
        padding: 5rem 3rem;
        gap: 2rem;
    }

    #strength .section_content {
        padding: 10rem 2rem 0;
    }

    #programs .container {
        flex-direction: column;
        text-align: center;

        .section_text p {
            text-align: center;
        }
    }

    #social_works {
        flex-direction: column;
        gap: 3rem;
        text-align: center;
        .section_text {
            max-width: 60rem;
            p {
                text-align: center;
            }
        }
    }

    #photosVideos .photo_grid {
        padding: 0px 1rem;
    }

    #contactMe {
        .section_content {
            gap: 2rem;
        }
        form {
            width: 50%;
        }
        .contacts_area {
            width: 50%;
        }
    }
}

/*==============================
        TAB SCREEN
 ==============================*/
@media screen and (max-width: 800px) {
    #introduction {
        flex-direction: column;
        gap: 5rem;
        text-align: center;

        img {
            margin: 0 auto;
        }
    }

    #strength .section_content {
        padding: 10rem 1rem 0;

        .img_area img {
            width: 20rem;
        }
    }

    #political_tour .political_tour_info_container .political_tour_info {
        .info_area {
            gap: 1rem;
        }
    }

    #contactMe {
        .section_content {
            flex-direction: column;
            gap: 7rem;
        }
        form {
            width: 100%;
            max-width: 55rem;
            margin: auto;
        }
        .contacts_area {
            width: 100%;

            .social_links {
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 680px) {
    #cards {
        gap: 1rem;
    }

    #strength .section_content {
        .strength_Info_container .strength_Info {
            display: block;
        }
        .img_area img {
            width: 15rem;
        }
    }
    #political_tour .political_tour_info_container .political_tour_info {
        gap: 1.5rem;
    }
    #political_tour .political_tour_info_container .middle_line {
        display: none;
    }

    #social_works .video_area {
        iframe {
            width: 500px !important;
            aspect-ratio: 16/9;
        }
    }

    #photosVideos .photo_grid {
        padding: 0px 0rem;
        grid-gap: 0.5rem;
    }

    #contactMe .contact_options {
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: space-evenly;
    }
}

/*==============================
        PHONE SCREEN
 ==============================*/
@media screen and (max-width: 570px) {
    html {
        font-size: 58.5%;
    }

    #nav {
        padding: 0 1rem;
    }

    #banner .banner_heading {
        bottom: 2rem;
        right: 2rem;
        h1 {
            font-size: 4rem;
        }
    }

    #cards .card {
        width: 20rem;
        height: 18rem;
    }

    #political_tour {
        .political_tour_info_container {
            .political_tour_info {
                flex-direction: row-reverse;
                gap: 1.5rem;

                .info_area {
                    flex-direction: row-reverse;
                    width: 70%;

                    .text_area {
                        text-align: left;
                        p {
                            text-align: left;
                        }
                    }
                }

                .season {
                    width: 30%;
                    text-align: right;
                }

                // Middle Point
                .mid_icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }

    #strength .section_content .img_area img {
        width: 10rem;
    }
    #strength .section_content .strength_Info_container {
        grid-template-columns: 33% 33%;
    }

    #photosVideos .photo_grid {
        grid-template-columns: 1fr;
        // grid-template-rows: repeat(5, 20rem);
    }
    #photosVideos .video_grid {
        grid-template-columns: 1fr;
    }

    #social_works .video_area {
        iframe {
            width: 390px !important;
            aspect-ratio: 16/9;
        }
    }
    #programs .container {
        padding: 8rem 1rem;
    }
    #programs .program_list_container .programInfo {
        flex-direction: column;

        .date_area {
            display: flex;
            justify-content: center;
            gap: 2rem;
            border-right: none !important;
        }

        .program_title {
            font-size: 2rem;
            text-align: center;
        }
    }

    #contactMe .map_wrapper {
        padding: 1rem;
        margin: 3rem 0;
    }
    #contactMe form {
        padding: 2rem;
        gap: 2rem;
    }
    #cards {
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 3rem 0;
    }
}

@media screen and (max-width: 400px) {
    #banner .banner_heading {
        h1 {
            font-size: 3.5rem;
        }
    }
    #social_works {
        padding: 6rem 1rem;
    }
    #social_works .video_area {
        iframe {
            width: 100% !important;
            aspect-ratio: 16/9;
        }
    }

    #political_tour .political_tour_info_container .middle_line {
        // top: 70px;
        left: 31%;
        // height: calc(100% - 130px);
    }
    #political_tour .political_tour_info_container .political_tour_info {
        gap: 1rem;
    }
}

@media screen and (max-width: 389px) {
    #political_tour .political_tour_info_container .middle_line {
        display: none;
    }
}

@media screen and (max-width: 340px) {
    #banner .banner_heading {
        h1 {
            font-size: 3rem;
            line-height: 3.5rem;
            height: 12rem;
        }
    }
}
