// ========== Fonts ==========
// $Josefin: "Josefin Sans", sans-serif;
// $Mulish: "Mulish", sans-serif;
// $Noto: "Noto Sans", sans-serif;

// ========== Colors ==========
$pmColor: #f48c06;
$bgColor: #fff1df;

$headTxtColor: #333;
$lightTxtColor: #787e86;

// Box
$borderColor: rgba(244, 140, 6, 0.3);

// ========== ANIMATIONS ==========
