@import "utilities.scss";

/*==============================
        NAV
 ==============================*/
#nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    //     padding: 0.5rem 0;

    &::after {
        content: "";
        width: 100%;
        height: 60%;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 10%;
        filter: blur(18px);
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo_container {
        z-index: 99;
        display: flex;
        gap: 1rem;
        align-items: center;
        span {
            background: $pmColor;
            padding: 0.5rem 1rem;
            color: #fff;
            font-weight: 700;
            border-radius: 5px;
        }

        img {
            width: 20rem;
        }
    }

    .boat_area {
        z-index: 99;
        img {
            width: 7rem;
        }
    }
}

/*==============================
        BANNER
 ==============================*/
#banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 7;
        // background: #000;
        background: linear-gradient(
            269.45deg,
            rgba(0, 0, 0, 0.77) -15.47%,
            rgba(0, 0, 0, 0.47) 52.85%,
            rgba(0, 0, 0, 0) 72.9%
        );
    }

    .slider_container {
        width: 100%;
        height: 100vh;
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    .banner_heading {
        z-index: 8;
        position: absolute;
        bottom: 3rem;
        right: 10rem;
        max-width: 60rem;
        text-align: right;
        h1 {
            color: #fff;
            height: 16rem;
            font-size: 4.5rem;
            line-height: 5.5rem;
            margin-bottom: 2rem;
        }
    }
}

/*==============================
        CARDS
 ==============================*/
#cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 7rem 0;

    .card {
        background: #ffffff;
        border: 1px solid rgba(244, 140, 6, 0.3) !important;
        border-radius: 8px;
        width: 20rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

        &:hover {
            background: $pmColor;
            //     transform: rotateX(360deg);
            img {
                border: 3px solid #fff !important;
                border-radius: 10px;
            }
            p {
                color: #fff;
            }
        }

        img {
            margin-bottom: 2rem;
            width: 6rem;
        }
        p {
            text-align: center;
            color: $pmColor;
        }
    }
}

/*==============================
        INTRODUCTION
 ==============================*/
#introduction {
    background: $bgColor;

    padding: 10rem;
    display: flex;
    gap: 4rem;

    img {
        width: 30rem;
    }

    .introduction_text {
        h2 {
            font-size: 4rem;
        }
        p {
            margin: 1rem 0;
            font-size: 1.4rem;
        }
        b {
            display: block;
            color: $pmColor;
            margin-top: 2rem !important;
        }
        span {
            color: $lightTxtColor;
            font-size: 1.4rem;
        }
    }
}

/*==============================
        STRENGTH 
 ==============================*/
#strength {
    margin: 10rem 0;
    position: relative;

    .section_content {
        padding: 10rem 5rem 0;

        .img_area {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            img {
                width: 30rem;
            }
        }
        .strength_Info_container {
            display: grid;
            grid-template-columns: 30% 30%;
            justify-content: space-between;

            .strength_Info {
                display: flex;
                gap: 1rem;
                max-width: 30rem;
                margin-bottom: 4rem;

                b {
                    color: $pmColor;
                    font-size: 2rem;
                }

                .strength_text {
                    h5 {
                        line-height: 2.2rem;
                        font-size: 2rem;
                        margin-bottom: 0.5rem;
                    }
                    p {
                        text-align: left;
                    }
                }
            }
        }
    }
}

/*==============================
        PROGRAMS 
 ==============================*/
#programs {
    background: $bgColor;

    .container {
        padding: 8rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
    }
    .section_text {
        max-width: 40rem;
        h2 {
            font-size: 4rem;
            line-height: 5rem;
        }
        p {
            margin: 1rem 0 3rem;
        }
    }

    .program_list_container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .programInfo {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 2rem;
            background: #fff;
            color: $lightTxtColor;

            .date_area {
                border-right: 1.5px solid $lightTxtColor !important;
                padding-right: 1.5rem;
                p {
                    color: $lightTxtColor;
                    text-align: right;
                }
                b {
                    font-size: 1.8rem;
                }
            }

            .program_title {
                color: $lightTxtColor;
            }
        }

        .latest {
            background: $pmColor;
            color: #fff;

            .date_area {
                border-right: 1.5px solid #fff !important;
                p {
                    color: #fff;
                }
            }
            .program_title {
                color: #fff;
            }
        }
    }
}

/*==============================
        POLITICAL TOUR 
 ==============================*/
#political_tour {
    margin: 5rem 0 15rem !important;

    .political_tour_info_container {
        margin: 8rem 0;
        position: relative;

        .political_tour_info {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            margin-bottom: 5rem;

            .info_area {
                display: flex;
                align-items: center;
                gap: 2rem;
                width: 40%;

                .text_area {
                    text-align: right;
                    h6 {
                        font-size: 1.7rem;
                        margin-bottom: 0.5rem;
                    }
                    p {
                        font-size: 1.3rem;
                        line-height: 1.7rem;
                        text-align: right;
                    }
                }

                img {
                    border-radius: 50%;
                    width: 8rem;
                }
            }

            .season {
                width: 40%;
                font-size: 1.7rem;
                font-weight: 700;
            }

            // Middle Point
            .mid_icon {
                width: 2rem;
                height: 2rem;
                background: #ffeed8;
                border-radius: 50%;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 50%;
                    height: 50%;
                    border-radius: 50%;
                    background: $pmColor;
                }
            }
        }

        .reverse {
            flex-direction: row-reverse;

            .info_area {
                flex-direction: row-reverse;

                .text_area {
                    text-align: left;
                    p {
                        text-align: left;
                    }
                }
            }

            .season {
                text-align: right;
            }
        }

        // Middle Line
        .middle_line {
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: calc(100% - 90px);
            background: $pmColor;
        }
    }
}
/*==============================
SOCIAL WORKS 
 ==============================*/
#social_works {
    background: $bgColor;
    padding: 5rem;
    display: flex;
    align-items: center;
    gap: 5rem;

    .section_text {
        max-width: 40rem;
        h2 {
            font-size: 4rem;
            line-height: 5rem;
        }
        p {
            margin: 1rem 0 3rem;
        }
    }
}
