@import "utilities.scss";

/*==============================
        NAV
 ==============================*/
#nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        filter: blur(20px);
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
    }

    .logo_container {
        z-index: 99;
        display: flex;
        gap: 1rem;
        align-items: center;
        span {
            background: $pmColor;
            padding: 0.5rem 1rem;
            color: #fff;
            font-weight: 700;
            border-radius: 5px;
        }

        img {
            width: 20rem;
        }
    }

    .boat_area {
        z-index: 99;
        img {
            width: 8rem;
        }
    }
}

/*==============================
        BANNER
 ==============================*/
#banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 7;
        // background: #000;
        background: linear-gradient(
            269.45deg,
            rgba(0, 0, 0, 0.77) -15.47%,
            rgba(0, 0, 0, 0.47) 52.85%,
            rgba(0, 0, 0, 0) 72.9%
        );
    }

    .slider_container {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner_heading {
        z-index: 8;
        position: absolute;
        top: 18rem;
        right: 10rem;
        max-width: 60rem;
        text-align: right;
        h1 {
            color: #fff;
            height: 18rem;
            font-size: 4.5rem;
            line-height: 5.5rem;
            margin-bottom: 2rem;
        }
    }
}

/*==============================
        CARDS
 ==============================*/
#cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 7rem 0;

    .card {
        background: #ffffff;
        border: 1px solid rgba(244, 140, 6, 0.3) !important;
        border-radius: 8px;
        width: 20rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

        &:hover {
            background: $pmColor;
            //     transform: rotateX(360deg);
            img {
                border: 3px solid #fff !important;
                border-radius: 10px;
            }
            p {
                color: #fff;
            }
        }

        img {
            margin-bottom: 2rem;
            width: 6rem;
        }
        p {
            text-align: center;
            color: $pmColor;
        }
    }
}
