@import "utilities.scss";
/*==============================
        NAV
 ==============================*/
#nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    //     padding: 0.5rem 0;

    &::after {
        content: "";
        width: 100%;
        height: 50%;
        background: rgba(0, 0, 0, 0.99);
        position: absolute;
        top: 10%;
        filter: blur(18px);
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo_container {
        z-index: 99;
        display: flex;
        gap: 1rem;
        align-items: center;

        img {
            width: 20rem;
        }
    }

    .boat_area {
        z-index: 99;
        img {
            width: 7rem;
        }
    }
}
#nav.sticky {
    // position: sticky;
    background: $headTxtColor;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.15) 0px 6px 6px;
    .boat_area img {
        width: 5rem;
    }

    .logo_container {
        padding-top: 5px;
    }
}
/*==============================
        BANNER
 ==============================*/
#banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 7;
        // background: #000;
        background: linear-gradient(
            269.45deg,
            rgba(0, 0, 0, 0.77) -15.47%,
            rgba(0, 0, 0, 0.47) 52.85%,
            rgba(0, 0, 0, 0) 72.9%
        );
    }

    .slider_container {
        width: 100%;
        height: 100vh;
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    .banner_heading {
        z-index: 8;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        right: 10rem;
        max-width: 60rem;
        text-align: right;
        h1 {
            color: #fff;
            height: 16rem;
            font-size: 4.5rem;
            line-height: 5.5rem;
            margin-bottom: 2rem;
        }

        button {
            padding: 1.5rem 5rem;
        }
    }
}

/*==============================
        CARDS
 ==============================*/
#cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 7rem 0;

    .card {
        background: #ffffff;
        border: 1px solid rgba(244, 140, 6, 0.3) !important;
        border-radius: 8px;
        width: 22rem;
        height: 28rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

        &:hover {
            background: $pmColor;
            //     transform: rotateX(360deg);
            img {
                border: 3px solid #fff !important;
                border-radius: 10px;
            }
            p {
                color: #fff;
            }
        }

        img {
            margin-bottom: 2rem;
            width: 6rem;
        }
        p {
            text-align: center;
            color: $pmColor;
        }
    }
}

/*==============================
        INTRODUCTION
 ==============================*/
#introduction {
    background: $bgColor;

    padding: 10rem;
    display: flex;
    gap: 4rem;

    img {
        width: 30rem;
        height: 35rem;
    }

    .introduction_text {
        h2 {
            font-size: 4rem;
            line-height: 5rem;
        }
        p {
            margin: 1.5rem 0 1rem;
            font-size: 1.4rem;
            color: $headTxtColor;
        }
        b {
            display: block;
            color: $pmColor;
            margin-top: 2rem !important;
        }
        span {
            color: $lightTxtColor;
            font-size: 1.4rem;
        }
    }
}

/*==============================
        STRENGTH 
 ==============================*/
#strength {
    margin: 10rem 0;
    position: relative;

    .section_content {
        padding: 10rem 5rem 0;

        .img_area {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            img {
                width: 28rem;
            }
        }
        .strength_Info_container {
            display: grid;
            grid-template-columns: 30% 30%;
            justify-content: space-between;

            .strength_Info {
                display: flex;
                gap: 1rem;
                max-width: 30rem;
                margin-bottom: 4rem;

                b {
                    color: $pmColor;
                    font-size: 2rem;
                }

                .strength_text {
                    h5 {
                        line-height: 2.2rem;
                        font-size: 2rem;
                        margin-bottom: 1rem;
                    }
                    p {
                        text-align: left;
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }
                }
            }
        }
    }
}

/*==============================
        PROGRAMS 
 ==============================*/
#programs {
    background: $bgColor;

    .container {
        padding: 8rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
    }
    .section_text {
        max-width: 40rem;
        h2 {
            font-size: 4.5rem;
            line-height: 5rem;
        }
        p {
            margin: 1rem 0 3rem;
        }
    }

    .program_list_container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .programInfo {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 2rem;
            background: #fff;
            color: $lightTxtColor;

            .date_area {
                border-right: 1.5px solid $lightTxtColor !important;
                padding-right: 1.5rem;
                p {
                    color: $lightTxtColor;
                    text-align: right;
                }
                b {
                    font-size: 1.8rem;
                }
            }

            .program_title {
                color: $lightTxtColor;
                font-weight: 500;
            }
        }

        .latest {
            background: $pmColor;
            color: #fff;

            .date_area {
                border-right: 1.5px solid #fff !important;
                p {
                    color: #fff;
                }
            }
            .program_title {
                color: #fff;
            }
        }
    }
}

/*==============================
        POLITICAL TOUR 
 ==============================*/
#political_tour {
    margin: 5rem 0 12rem !important;

    .political_tour_info_container {
        margin: 8rem 0;
        position: relative;

        .political_tour_info {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            margin-bottom: 5rem;

            .info_area {
                display: flex;
                align-items: center;
                gap: 2rem;
                width: 50%;
                position: relative;

                &:hover {
                    &::after {
                        content: "";
                        position: absolute;
                        width: 200%;
                        height: 130%;
                        background: $bgColor;
                        z-index: -1;
                    }
                }

                .text_area {
                    text-align: right;
                    h6 {
                        font-size: 1.7rem;
                        line-height: 2.2rem;
                        // margin-bottom: 0.5rem;
                    }
                    p {
                        font-size: 1.3rem;
                        line-height: 1.7rem;
                        text-align: right;
                    }
                }

                img {
                    border-radius: 50%;
                    width: 8rem;
                }
            }

            .season {
                width: 50%;
                font-size: 1.7rem;
                font-weight: 700;
                z-index: 1;
                position: relative;
                color: $headTxtColor;
            }

            // Middle Point
            .mid_icon {
                width: 2rem;
                height: 2rem;
                background: #ffeed8;
                border-radius: 50%;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 50%;
                    height: 50%;
                    border-radius: 50%;
                    background: $pmColor;
                }

                animation: scale 2s linear alternate infinite;
                @keyframes scale {
                    from {
                        transform: scale(0.5);
                    }
                    to {
                        transform: scale(1.3);
                    }
                }
            }
        }
        .reverse {
            flex-direction: row-reverse;

            .info_area {
                flex-direction: row-reverse;

                .text_area {
                    text-align: left;
                    p {
                        text-align: left;
                    }
                }
            }

            .season {
                text-align: right;
            }
        }

        // Middle Line
        .middle_line {
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: calc(100% - 80px);
            background: $pmColor;
        }
    }
}

/*==============================
        SOCIAL WORKS 
 ==============================*/
#social_works {
    background: $bgColor;
    padding: 5rem;
    display: flex;
    align-items: center;
    gap: 5rem;

    .section_text {
        max-width: 40rem;
        h2 {
            font-size: 4rem;
            line-height: 5rem;
        }
        p {
            margin: 1rem 0 3rem;
        }
    }
    iframe {
        // width: 100%;
        width: 560px;
        aspect-ratio: 16/9;
    }
}

/*==============================
        PHOTOS & VIDEOS 
 ==============================*/
#photosVideos {
    margin: 10rem 0 !important;

    .btn_block {
        margin: 5rem 0;
        text-align: center;

        .btn_wrapper {
            position: relative;
            display: inline-block;
            border-radius: 50px;
            overflow: hidden;
            border: 1px solid $lightTxtColor !important;
            padding: 1px;

            span {
                border-radius: 50px;
                transition: 0.4s;
                position: absolute;
                left: 0;
                top: 0.5px;
                width: 50%;
                height: 100%;
                background: $pmColor;
                z-index: -1;
            }

            button {
                background: none;
                padding: 1rem 4rem;
                // font-weight: 700;
                font-size: 1.8rem;
                cursor: pointer;
                transition: color 0.5s;
                color: #000;
            }
        }

        // If Video Button Active
        .videoActive {
            span {
                width: 60% !important;
                left: 45%;
            }
            .videosBtn {
                color: #fff;
            }
        }
        // If Photos Button Active
        .photosActive {
            .photosBtn {
                color: #fff;
            }
        }
    }

    .photo_grid {
        padding: 0 7rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(5, 20rem);
        grid-gap: 2rem;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        .photo1 {
            grid-row: 1 / span 2;
            grid-column: 2;
        }
        .photo3 {
            grid-row: 2 / span 2;
            grid-column: 1;
        }
        .photo6 {
            grid-row: 3 / span 2;
            grid-column: 3;
        }
        .photo8 {
            grid-row: 4 / span 2;
            grid-column: 1 / span 2;
        }
    }

    .video_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;

        .video_wrapper {
            position: relative;
        }

        .loader_text {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: -1;
            font-size: 2rem;
            font-weight: 700;
        }

        iframe {
            width: 100%;
            aspect-ratio: 16/9;
            border: 1px solid $headTxtColor !important;
        }
    }

    .more_btn {
        text-align: center;
        margin: 4rem 0;
    }
}

/*==============================
        CONTACT ME
 ==============================*/
#contactMe {
    .section_content {
        margin: 7rem 0;
        display: flex;
        gap: 4rem;
    }
    form {
        width: 40%;
        max-width: 45rem;
        height: 60rem;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 4rem;
        gap: 20px;

        input,
        textarea {
            background: #f5f5f5;
            resize: none;
            width: 100% !important;
            // color: $pmColor;
            color: #000;
            border: 1px solid #e8e8e8 !important;
            font-size: 1.6rem;
            border-radius: 5px;

            &:focus {
                border: 1px solid $pmColor !important;
            }
        }
        textarea {
            height: 32rem !important;
        }
    }

    .contacts_area {
        width: 60%;
    }

    .contact_options {
        display: flex;
        gap: 2rem;

        .contact {
            max-width: 25rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            text-align: center;
            font-size: 3rem;
            color: $pmColor;

            span {
                font-size: 1.5rem;
                color: $lightTxtColor;
            }
        }
    }

    .map_wrapper {
        padding: 4rem;

        iframe {
            width: 100%;
            height: 40rem;
        }
    }

    .social_links {
        display: flex;
        gap: 2rem;
        font-size: 4rem;

        a {
            color: $pmColor;
        }
    }
}

/*==============================
        FOOTER
 ==============================*/
#footer {
    text-align: center;
    color: $pmColor;
    background: $bgColor;
    padding: 5rem 0;

    .copyrights {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-bottom: 5px;

        h6 {
            font-size: 1.6rem;
            color: $pmColor;
        }
    }
}

/*==============================
        RESPONSIVE
 ==============================*/
@import "responsive.scss";
